*{
	font-family: sans-serif;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login {
  margin-bottom: 50px;
}

.register {
 text-align: center;
}

body {
	background: #0e30a3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
  height: 920px;
  flex-direction: column;
}

.one {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
}

.main {
  color: aqua;

}

